*, *::before, *::after {
    box-sizing: border-box;
    margin: 0
}

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
    --bar-width:60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground :#333;
    --background: white;
    --animation-timing: 200ms ease-in-out ;
    --hamburger-height: calc(var(--bar-height)*3 + var(--hamburger-gap)*2);
}


html {

}

body{
    font-family: 'Lilita One', cursive;
    margin: 0;
}
body> * {
    padding: 0 calc((100% - 900px)/2);
    margin-bottom: 5rem ;
}
h1,h2,h3 {
    text-transform: capitalize;
}
 h2 {
    font-size: 2em;
}

ul {
    padding: 0;
}


.hamburger {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: none;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    z-index: 2;
    cursor: pointer;
    
}

.hamburger input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger:before,
.hamburger::after, 
.hamburger input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground) ;
    border-radius: 9999px;
    transform-origin: right center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), transform var(--animation-timing);
}



.hamburger input:checked {
    transform:  scaleX(0);
    opacity: 0;
}

.hamburger:has(input:checked)::before {
    rotate: -45deg ;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height ) / -2);
}
.hamburger:has(input:checked)::after {
    rotate: 45deg ;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height ) / 2);
}

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    align-items: center;
    background-color: #c5eaff ;
    z-index: 1;
}

.navbar .nav-links {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 2rem;

}

.navbar .nav-links a {
    text-decoration: none;
    color: black;
}
.navbar .nav-links a:hover {
    color: gray;
}

.hero-section {
    display: flex;
    flex-direction: row;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#c5eaff 10% , #fff) ;
}
.hero-text{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.hero-text h1 {
    font-size: 2em;
    text-transform: capitalize;
}
.hero-text p {
    line-height: 2em;
}

.button {
    text-decoration: none;
    background-color: #ff910b;
    color: white;
    padding: 1rem 2rem;
    border-radius: 2rem;
    width: 10rem;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #ffb820;
}

.hero-img {
    
    width: 50%;

    
}

.hero-img img {
    object-fit:cover ;
    width: 100%;
    height: auto;
}

.company-logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.logos img {
    width: 25%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    z-index: -1;
}

.portfolio {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.portfolio .portfolio-wrap {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    
}

.portfolio-wrap .big-picture {
    flex: 1;
}


.portfolio-wrap .secondary-picture {
    gap: 2rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}


.secondary-picture img {
    width: auto;
}

.portfolio img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 250ms ease-in-out;
}
.portfolio img:hover {
    transform: scale(1.2);
}

.gallery-item {
    overflow: hidden;
    z-index: 0;
}

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.contact-us form {
    width: 100%;
}
.contact-us .upper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    height: fit-content;
}
.upper input {
    width: 100%;
    padding: .5rem;
}

.contact-us .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center ;
    gap: .5rem;
}
.form-group textarea {
    width: 100%;
    height: 7rem;
}
.contact-us form > .form-group{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.footer {
    bottom: 0;
    margin-bottom: 0;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.footer-sections {
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.footer-sections .link-list li {
    list-style: none;
    padding: .3rem 0;
}

.footer .link-list ul {
    padding: 0;
}

.footer-sections h3 {
    margin-bottom: .5rem;
}
.footer-sections .link-list {
    display: flex;
    height: 10rem;
}


.footer-sections .social-links {
    display: flex;
    flex-direction: row;
}
.footer .company-logo {
    height: 10rem
}
.footer .company-logo img {
    position: relative;
    align-self: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.footer-sections a {
    text-decoration: none;
    color: gray;
}

.footer-sections a:hover {
    color: #acafb3;
}

.footer .end-of-page {
    width: 90vw;
    border-top: 1px solid #e4ebf3; 
    text-align: center;
    padding: .5rem;
}

.toggle-button {
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}


@media (max-width:1000px) {
    body> * {
        padding: 0 5%; 
    }
    .footer .company-logo {
        display: none;
        width: 0;
        height: 0;
    }
}

@media (max-width:600px) {
    
    .hamburger {
        display: flex;
    }

    .navbar .brandlogo {
        z-index: 2;

        
    }

      .navbar .nav-links {
        position: absolute;
        background: #c5eaff ;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: stretch;
        clip-path: circle(0 at 90% -10%);
        -webkit-clip-path: circle(0 at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        top: 4rem;
    } 

    .navbar .nav-links.open {
        clip-path: circle(120vh at 90% -10%);
        -webkit-clip-path: circle(120vh at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        margin: 2rem 0;
        opacity: 0;
        width: 100%;
        text-align: center;
    }

    .nav-links a {
        font-size: 2em;
    }

    .nav-links li:nth-child(1) {
        transition: all .5s ease .2s ;
    }
    
    .nav-links li:nth-child(2) {
        transition: all .5s ease .4s ;
    }
    .nav-links li:nth-child(3) {
        transition: all .5s ease .6s  ;
    }
    .nav-links li.fade {
        opacity: 1;
    }


    .hero-section {
        padding-top: 3rem;
        height: fit-content;
        flex-direction: column;
        flex-flow: column-reverse;
        justify-content: space-between;
    }
    .hero-img {
        width: 100%;
    }
    .hero-text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        text-align: center;
        margin-top: calc();
   }
   .portfolio-wrap {
    flex-direction: column;
   }
   .contact-us form {
    text-align: center;
   }
   .footer .footer-sections {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
   }


}

@keyframes show-nav {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}